/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande,sans-serif;
    margin: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 90%;
    width: 100%;
    padding: 20px;
    /* width: 100vw; */
    /* display: flex; */
    margin: 0 auto;
}

.example-full-width {
  width: 100%;
}
